.offcanvas-start {
    width: 300px;
}

.wrapper {
    display: grid;
    grid-template-areas:
    'sidebar-top'
    'sidebar-middle'
    'sidebar-bottom';
    background: var(--jet);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    /*padding: 20px 0;*/
    transition: all 0.5s ease;
}

.sidebar-close {
    float: right;
    padding: 30px 50px 5px 5px;
}

.sidebar-top {
    grid-area: sidebar-top;
    background-image: url('../../Assets/sidenav-upper-logo.svg');
    /*background-color: var(--jet);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.sidebar-middle {
    grid-area: sidebar-middle;
    padding: 0 50px;
}

.sidebar-bottom {
    grid-area: sidebar-bottom;
    padding: 0 50px;
    color: var(--white);
}

.sidebar {
    /*grid-area: sidebar;*/
}

.dashboard-header {
    /*grid-area: header;*/
}

.dashboard-content {
    /*grid-area: content;*/
}

.list-group-item {
    background-color: #000000 !important;
    color: #cdcdcd !important;
    padding: 20px 30px;
    cursor: pointer;
}
.list-group-item.active {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: #ffffff !important;
}
.list-group-item:hover {
    color: #ffffff !important;
}
