/*
 * Common styles for all admin-tables
 */
.table-wrapper {
    padding: 50px;
    border: 4px solid var(--alabaster);
    border-radius: 8px;
    margin: 10px 50px 80px;
}

.table-wrapper table {
    margin-top: 20px;
}

.table-custom-header {
    background-color: var(--alabaster);
}

tr:nth-child(even) {
    background-color: rgba(233, 239, 217, 0.3);
}

tr:hover {
    background-color: rgba(233, 239, 217, 0.6);
}

td {
    vertical-align: middle;
}

th {
    text-align: left;
}

.filter-btn-syllabus, .filter-btn-guide, .filter-btn-admin, .filter-btn-teacher, .filter-btn-student, .filter-btn-all, .filter-btn-all-users {
    padding: 10px 30px;
    border: 3px solid var(--alabaster);
    font-weight: 500;
    background-color: var(--white);
    width: 200px;
}

.filter-btn-admin, .filter-btn-teacher, .filter-btn-student, .filter-btn-all-users {
    padding: 10px 20px;
    width: 150px;
}

.filter-btn-syllabus:hover, .filter-btn-guide:hover, .filter-btn-admin:hover, .filter-btn-teacher:hover, .filter-btn-student:hover, .filter-btn-all:hover, .filter-btn-all-users:hover {
    background-color: var(--alabaster);
}

.filter-btn-guide, .filter-btn-admin {
    border-radius: 0;
}

.filter-btn-syllabus, .filter-btn-student {
    border-radius: 0 5px 5px 0;
}

.filter-btn-all, .filter-btn-all-users {
    border-radius: 5px 0 0 5px;
}

.view-more-btn {
    padding: 8px 30px;
    border: 2px solid var(--alabaster);
    font-weight: 500;
    background-color: var(--white);
    width: 200px;
    border-radius: 5px;
}

.view-more-btn:hover {
    background-color: var(--alabaster);
}

.input-search-icon, .search-index-btn {
    background-color: var(--alabaster);
    padding: 10px 20px;
}

.search-index-btn {
    border: 2px solid var(--alabaster);
}

.search-index-btn:hover {
    background-color: #d7dec5;
    border: 2px solid #d7dec5;
}

.table-pdf-icon {
    color: var(--jet);
    margin-left: 10px;
    margin-right: 20px;
}
.user-badge {
    font-size: 15px;
}

.user-badge {
    font-size: 14px;
}

.print-pdf-btn, .clear-filter-btn {
    padding: 10px 20px;
    border: 3px solid var(--alabaster);
    font-weight: 500;
    background-color: var(--white);
    border-radius: 5px;
}

.print-pdf-btn:hover, .clear-filter-btn:hover {
    background-color: var(--alabaster);
}

.clear-filter-btn {
    padding: 8px 20px;
}