/*
 * Common styling for landing pages of Student and teacher
 */
.st-wrapper {
    padding: 30px 50px 50px;
    margin: 0 50px 80px;
}

.st-title {
    padding-bottom: 40px;
    border-bottom: 4px solid var(--maize-crayola);
    margin-bottom: 70px;
}

.tab-title {
    font-weight: 600;
    font-size: 30px;
}

.st-class-card, .st-notice-card {
    border: 3px solid var(--maize-crayola);
    border-radius: 15px;
    background-color: var(--white);
    width: 19rem;
}

.st-class-card:hover {
    box-shadow: 1px 1px 10px rgba(245, 203, 92, 0.8);
}

.st-card-header {
    padding: 15px 20px 15px;
    font-weight: 500;
}

.st-card-title {
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
}

.st-class-img {
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.st-card-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid var(--maize-crayola);
}

.st-card-badge {
    background-color: var(--maize-crayola);
    color: var(--jet);
}

.no-data-text {
    font-size: 30px;
    font-weight: 600;
    color: var(--jet);
    text-align: center;
    padding-top: 50px;
}

.st-library-card {
    border: 3px solid var(--maize-crayola);
    border-radius: 15px;
    background-color: var(--white);
    width: 36rem;
}

.st-library-card-header {
    display: grid;
    grid-template-columns: 20% auto;
    font-weight: 500;
}

.st-library-card-grade {
    border-right: 3px solid var(--maize-crayola);
    padding: 10px 20px;
    text-align: center;
}

.st-library-grade-no {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.st-library-card-subject {
    display: grid;
    grid-template-columns: auto 20%;
    padding: 20px;
}

.st-sub {
    display: grid;
    grid-template-rows: auto auto;
}

.st-library-subject-text {
    font-size: 30px;
    font-weight: 800;
}

.st-library-subject-file {
    font-size: 14px;
}

.st-library-card-download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-download-btn {
    color: var(--light-crayola);
    background-color: transparent;
    border: none;
    font-size: 40px;
}

.st-download-btn:hover {
    color: var(--maize-crayola);
}