.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    height: 100%;
}

.header {
    grid-area: header;
}

.header-div {
    background-color: transparent;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: #55ab02;
    width: 100%;
}

.footer-content {
    display: grid;
}

.footer-content p {
    margin: auto;
    padding: 10px;
}

.reg-btn, .classroom-btn {
    color: #ffffff;
    font-weight: 500;
    background-color: #232323;
    border-radius: 5px;
    padding: 10px 20px;
}

.reg-btn:hover {
    background-color: #000000;
}

.login-btn {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
}

.highlighted-text {
    color: #55ab02;
}

.second-content {
    padding: 30px 30px;
    background-color: rgba(85, 171, 2, 0.4);
    text-align: justify;
}