/*custom tab design*/
.list-group-item {
    background-color: #000000 !important;
    color: #cdcdcd !important;
    padding: 20px 30px;
    cursor: pointer;
}
.list-group-item.active {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: #ffffff !important;
}
.list-group-item:hover {
    color: #ffffff !important;
}
